/* ==============================================================
                        MEDIA-QUERIES
=================================================================*/
html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px =62.5%;

  @media only screen and (max-width: 768px) {
    font-size: 55%;
  }

  @media only screen and (max-width: 576px) {
    font-size: 50%;
  }
}

/* ==============================================================
                        BASIC ++
=================================================================*/
/* clear right white space on mobile view */
html,body{
    margin: 0px;
    padding: 0px;
   overflow-x: visible; 

    @media only screen and (max-width: 576px) {
         overflow-x: hidden; 
    }
}  

body {
    font-family: 'Advent Pro', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    background-color: rgba(216, 216, 216, 0.253);
}






















/* ========================================================
                      HELPER
  ========================================================*/
  section {
    height: 100vh;
  }
  
  .pink {
    background-image: linear-gradient(135deg, #3023AE 0%, #DCECFF 33%, #B4EC51 100%);
   
  }
  
  .grey {
    background-image: linear-gradient(135deg, #23AEA7 0%, #DCECFF 33%, #EC5169 100%);
  }
  
  .blue {
    background-image: linear-gradient(135deg, #2423AE 0%, #DCECFF 33%, #ECB151 100%);
    
  }
  
  .yellow {
    background-image: linear-gradient(135deg, #AEA523 0%, #DCECFF 33%, #77EC51 100%);
  }

  .orangered {
    background-image: linear-gradient(135deg, #23AEA7 0%, #DCECFF 33%, #EC5169 100%);
  }

  .red {
    background: white;
  }
  
  
  h1 {
    color: black;
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 800;
    display: inline-block;
  
  }
