/* ==============================================================
                        MEDIA-QUERIES
=================================================================*/
html {
  font-size: 62.5%; 

  @media only screen and (max-width: 768px) {
    font-size: 55%;
  }

  @media only screen and (max-width: 576px) {
    font-size: 50%;
  }
}

/* ==============================================================
                        BASIC ++
=================================================================*/
/* clear right white space on mobile view */
html,body{
    margin: 0px;
    padding: 0px;
    overflow-x: visible; 

    @media only screen and (max-width: 576px) {
      overflow-x: hidden; 
    }
}  

body {
  font-family: 'Montserrat', sans-serif;
    
}


/* ========================================================
                      HELPER
  ========================================================*/
  section {
    height: 100vh;
    margin-bottom: 50px;
  }
  
  .slide-4 {
    background-image: url(../img/slide-4-BG.png);
    background-position: right, center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;

    @media only screen and (max-width: 576px) {
      background-image:url(../img/slide-4-BG-mobil.png) 
 }
    
  }
  
  .slide-5 {
    background-image: url(../img/slide-5-BG.png);
    background-position: right, center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;

    @media only screen and (max-width: 576px) {
      background-image:url(../img/slide-5-BG-mobil.png) 
 }
  }
  
  h1 {
    color: black;
    text-transform: uppercase;
    font-size: 5rem;
    font-weight: 800;
    display: inline-block;
  
  }

  h3 {
    color: #4a58a2;
    font-size: 20px;
    font-weight: 600;
  }
