/* ========================================================
                      HEADER
  ========================================================*/
  .header{
    background-image: url(../img/var-egy-lakas.png);
    background-position: right, center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin-bottom:50px;

    @media only screen and (max-width: 576px) {
      background-image:url(../img/var-egy-lakas-mobil.png) 
 }


  }
  
  .header__logo img{
    height: 30px;
    text-align: center;
  }
  
  .header__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: white;
    z-index: 999;
  }
  
  .container__bottom {
    position: absolute;
    background: linear-gradient(to right, #48c1a7, #2e97dc);
    height: 5px;
    content: "";
    width: 100%;
    margin:0;
    bottom: 0;
  }
  
  
  .header__btn {
    margin:0;
    background: #FF2E63;
    font-size: 11.65px;
    color: #FFFFFF;
    font-weight: 600;
    height: 35px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
  }
  
  .small {
    transition: all 0.3s;
  }
  
  .proba, .proba-2, .proba-3{
    transition: all 0.3s;
    display: none;
    margin:0;
  }
