.slide-4 {
    background-image: url(../img/slide-4-BG.webp);
    background-position: right, center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
  
    @media only screen and (max-width: 576px) {
      background-image: url(../img/slide-4-BG-mobil.webp);
    }
  }